<div class="row">
  <div class="col-6">
    <div class="form-inline">
      <div class="form-group">
        <div class="input-group mr-3">
            <input 
              type="text" 
              class="form-control"
              placeholder="Search..."
              [formControl]="searchFormControl">
            <div class="input-group-append">
              <button 
                class="btn btn-outline-secondary"
                (click)="searchFormControl.setValue('')">
                x
              </button>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="float-right">
      <ngb-pagination 
        [collectionSize]="tableDataSource$.value.length" 
        [pageSize]="pageSize$.value"
        [page]="currentPage$.value"
        (pageChange)="currentPage$.next($event)">
      </ngb-pagination>
    </div>
  </div>
</div>

<table cdk-table [dataSource]="dataOnPage$" class="table table-hover">
  
  <!-- Hero Name Column -->
  <ng-container cdkColumnDef="name">
    <th cdk-header-cell *cdkHeaderCellDef> Hero Name </th>
    <td cdk-cell *cdkCellDef="let row"> {{row.name}} </td>
  </ng-container>

  <!-- Hero Types Column -->
  <ng-container cdkColumnDef="types">
    <th cdk-header-cell *cdkHeaderCellDef> Types </th>
    <td cdk-cell *cdkCellDef="let row"> {{row.types}} </td>
  </ng-container>

  <!-- Hero Attack Column -->
  <ng-container cdkColumnDef="attack">
    <th cdk-header-cell *cdkHeaderCellDef> Attack </th>
    <td cdk-cell 
        *cdkCellDef="let row" 
        [ngClass]="{ 
                     'table-success': superlatives$.value['highest-attack'] === row.name,
                     'table-danger': superlatives$.value['lowest-attack'] === row.name
                   }">
      {{row.attack}} 
    </td>
  </ng-container>

  <!-- Hero Defense Column -->
  <ng-container cdkColumnDef="defense">
    <th cdk-header-cell *cdkHeaderCellDef> Defense </th>
    <td cdk-cell 
        *cdkCellDef="let row" 
        [ngClass]="{ 
                     'table-success': superlatives$.value['highest-defense'] === row.name,
                     'table-danger': superlatives$.value['lowest-defense'] === row.name
                   }">
      {{row.defense}} 
    </td>
  </ng-container>

  <!-- Hero Speed Column -->
  <ng-container cdkColumnDef="speed">
    <th cdk-header-cell *cdkHeaderCellDef> Speed </th>
    <<td cdk-cell 
    *cdkCellDef="let row" 
    [ngClass]="{ 
                 'table-success': superlatives$.value['highest-speed'] === row.name,
                 'table-danger': superlatives$.value['lowest-speed'] === row.name
               }">
  {{row.speed}} 
</td>
  </ng-container>

  <!-- Hero Healing Column -->
  <ng-container cdkColumnDef="healing">
    <th cdk-header-cell *cdkHeaderCellDef> Healing </th>
    <td cdk-cell 
        *cdkCellDef="let row" 
        [ngClass]="{ 
                     'table-success': superlatives$.value['highest-healing'] === row.name,
                     'table-danger': superlatives$.value['lowest-healing'] === row.name
                   }">
      {{row.healing}} 
    </td>
  </ng-container>

  <!-- Hero Recovery Column -->
  <ng-container cdkColumnDef="recovery">
    <th cdk-header-cell *cdkHeaderCellDef> Recovery </th>
    <td cdk-cell 
        *cdkCellDef="let row" 
        [ngClass]="{ 
                     'table-success': superlatives$.value['highest-recovery'] === row.name,
                     'table-danger': superlatives$.value['lowest-recovery'] === row.name
                   }">
      {{row.recovery}} 
    </td>
  </ng-container>

  <!-- Hero Health Column -->
  <ng-container cdkColumnDef="health">
    <th cdk-header-cell *cdkHeaderCellDef> Health </th>
    <td cdk-cell 
        *cdkCellDef="let row" 
        [ngClass]="{ 
                     'table-success': superlatives$.value['highest-health'] === row.name,
                     'table-danger': superlatives$.value['lowest-health'] === row.name
                   }">
      {{row.health}} 
    </td>
  </ng-container>

  <!-- Level Up Column -->
  <ng-container cdkColumnDef="levelUp">
    <th cdk-header-cell *cdkHeaderCellDef></th>
    <td cdk-cell *cdkCellDef="let row">
      <button class="btn btn-primary" (click)="levelUp(row.name)">Level Up!!!</button>
    </td>
  </ng-container>

  <!-- Header and Row Declarations -->
  <tr cdk-header-row *cdkHeaderRowDef="displayedColumns$.value"></tr>
  <tr cdk-row *cdkRowDef="let row; columns: displayedColumns$.value"></tr>

</table>
